.green-dot {
  background-color: #4CAF50; /* 绿色背景 */
  border-radius: 100%; 
}

.green-btn {
  background: green; /* 绿色背景 */
}

.green-btn:hover {
    background-color: #4CAF50; /* 深绿色背景 */
}

.green-btn:active {
  background-color: green;
}

.red-dot {
  background-color: #FF5733; /* 深红色背景 */
  border-radius: 100%; 
}

.red-btn {
  background: red; /* 红色背景 */
}

.red-btn:hover {
    background-color: #FF5733; /* 深红色背景 */
}

.red-btn:active {
  background-color: red;
}
